<meta charset="utf-8">

<div class="jumbotron">
	<div class="container">
		<h1>Hejsan!</h1>
		<p>Välkommen till Ellamination™. Ellamination of Hours - Eoh. Crosstowns DHL/UPS app.</p>
		<p>
			<a href="#/intro" class="btn btn-info btn-lg" role="button">Tre
				minuters intro &raquo;</a> <a href="#/manual"
				class="btn btn-info btn-lg" role="button">Manual &raquo;</a> <a
				href="#/files" class="btn btn-primary btn-lg autofocus"
				role="button">Äsch, ladda en PDF/UPS-fil nu! &raquo;</a>
		</p>
	</div>
</div>